.avatar__wrapper {
    height: 180%;
    background: #eee;
    display: inline-block;
    border-radius: 100%;
    padding:3px;
    margin-top: -90px;
    margin-left: 50%;
    transform: translate(-50%, 0%);
    height: 166px;
}

.avatar__wrapper img{
    height: 160px;
    border-radius: 100%;
}

@media only screen and (max-width: 688px){

    .avatar__wrapper {
        height: 126px;
        transform: translate(-50%, 17%);
    }
    .avatar__wrapper img{
        height: 120px;
    }
    
}
@media only screen and (max-width: 530px){
    .avatar__wrapper {
        height: 86px;
        transform: translate(-50%, 17%);
    }
    .avatar__wrapper img{
        height: 80px;
    }
    
}

