*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    background: #bebce9;
}
button{
    padding: 6px 25px;
    border-radius: 3px;
    background: #514f68;
    color: #eee;
    border: none;
    cursor: pointer;
}
button:hover{
    background: #343341;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}
.container__noPadding{
    max-width: 1000px;
    margin: 0 auto;
}
.main-content .container__noPadding{
    display: flex;
}