.flex__wrap{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}



@media only screen and (max-width: 688px){
    .flex__wrap{
        margin-top: 40px;
       } 
}
@media only screen and (max-width: 530px){
    .flex__wrap{
        margin-top: 20px;
       } 
}